
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Discuss</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notices">Notices</a>
          </li>
          <% if (admin === true) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <% } %>
        </ul>
        <span class="navbar-text">
          <a href="/home"><%= username %></a>
        </span>&nbsp
      
        <span class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </span>
      </div>
  
    </nav>