<div class="main-wrapper">
    <% include partials/sidenav %>
    <% if(notices.length == 0) { %> 
        <div class="row">
                <div class="userposts col-lg-7 col-md-9 col-sm-10">
                    <p>No notices</p>
                </div>
        </div>
   <% } else { %>
    <% notices.forEach(function(notice) { %>
        <div class="row">
            <div class="userposts col-lg-7 col-md-9 col-sm-10">
                <div class="title-desc">
                    <p><%= notice.title %></p>
                    <h6><%= notice.descrip %></h6>
                </div>
                <div class="">
                    <span class="time-section">
                        <i><%= notice.creation_date %></i> 
                    </span>
                </div>  
            </div>
        </div>
        <% }) %>
   <%} %>
   

</div>

<footer class="footer">
    <p class="footer-text">@DiscussionForum , College Project, 2019</p>
</footer>