<div class="container">
    <section>
            {{ >errors}}
    <form action="/verify" id="signup" method="post"> 
        Token:<br>
        <input type="text" name="secretToken" class="inp_class" placeholder="Secret Token"><br>
        <button id="signBtn">Verify</button>
    </form>
    </section>  
    </div>